.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}



.example-header-image {
  background-size:cover;
}

.example-card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ede7ff;
}

.left-side {
  justify-content: flex-start;
  text-align: left;
  align-self: flex-start;
}

.example-card-profile {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;

}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height:100vh;
}

.group-profile-card {
  display: flex;
  gap: 20px;
}

.primary-profile-card {
  display: flex;
}

.example-card-profile {
  max-width: none;
  margin: 20px;
}

}
