<app-stock-input></app-stock-input>
<mat-card *ngFor="let stock of stocks$ | async" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ stock.name }}</mat-card-title>
    <mat-card-subtitle>Prezzo iniziale: {{ stock.initialPrice }} <br />
      Prezzo attuale: {{ stock.currentPrice }} <br>
      Symbol: {{stock.ticker}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button>Dettagli</button>
  </mat-card-actions>
</mat-card>