.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  min-height: 100vh;
}

.example-card {
  margin-bottom: 10px;
  width: 300px;
  position: relative;
}

.example-header-image {
  background-size: cover;
}

.center-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-card button {
  margin-top: 10px;
}

.example-card button.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.logo-font{
  font-size: 4vh;
  color: #673ab7;
  text-align: center;
  margin: 5vh;
}

@media screen and (min-width: 768px) {
  .group-card{
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
    margin: 20px;
    max-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
  }
}

