.tickerFormField{
  margin-right: 10px;
  margin-bottom: 10px;
  width: 130px;
  gap:20px;
  position: relative;
}

@media screen and (min-width: 768px) {
.tickerFormField{
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20vh;
  gap: 40px;
  position: relative;
}
}
